.formulario {
  margin-bottom: 30px;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario button {
  width: 100%;
  background: #1976d2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.formulario button:hover {
  background: #125ea9;
}
.formulario textarea {
  width: 100%;
  height: 120px;        /* tamanho fixo */
  resize: none;         /* impede redimensionar */
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
