.formulario form {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  margin-bottom: 20px;
}

.formulario form div {
  display: flex;
  flex-direction: column;
}

.formulario input,
.formulario textarea {
  padding: 6px;
  min-width: 160px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}


